HOST             = 0.0.0.0
DOMAIN           = https://mir.shtab.digital/api
BACKEND_PORT     = 8000
CALLS_PORT       = 8001
FRONTEND_PORT    = 3000
DB_PATH          = data/database.db
CALLS_URL        = https://mir.shtab.digital/api/ws-call

SESSION_DURATION = 604800
REQUEST_INTERVAL = 3
