@import url("/static/theme.css");

.button {
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 10px;
    border: 2px solid var(--color-white);
    font-size: 1.17rem;
    background: var(--color-transparent);
    color: var(--color-white);
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    transform: translateY(-2px);
    background: var(--color-white);
    color: var(--color-black);
}

