.chat-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    flex: 1;
    min-height: 0;
}

.chat-section * {
    font-family: "native";
    font-weight: 100;
}

.actual-chat {
    flex: 1;
    background: #0f0a14;
}

.chats {
/*    flex: 1;*/
    height: 100%;
    overflow-y: auto;
}

.chat .section {
/*    border: 1px solid white;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    margin: 1rem;
    flex-shrink: 0;
}

.chat-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin-left: 1rem;
}

.chat-info .chat-name {
    margin: 0;
}

.chat-info .chat-last-message {
    margin: 0.8rem 0;
}

.chats::-webkit-scrollbar,
.actual-chat::-webkit-scrollbar {
    width: 8px;
}

.chats::-webkit-scrollbar-track,
.actual-chat::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.chats::-webkit-scrollbar-thumb,
.actual-chat::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}

.chats::-webkit-scrollbar-button,
.actual-chat::-webkit-scrollbar-button {
    display: none;
}

/* Resizer */
.chats, .actual-chat {
    overflow: auto;
}

.chats {
    flex: 0 0 auto;
    width: 45%;
    min-width: 30%;
    max-width: 70%
}

.actual-chat {
    flex: 1 1 auto;
    min-width: 0;
}

.resizer {
    width: 5px;
    background: #333;
    cursor: col-resize;
    transition: 0.2s;
    flex-shrink: 0;
}

.resizer:hover,
.resizer:active {
    background: #666;
}

.chat-info {
    min-width: 0;
    flex: 1;
}

.chat-info .chat-name,
.chat-info .chat-last-message {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.chat {
    background: #150e1c;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.chat:hover {
    background: #1e1428;
}

.chat .section {
    width: 100%;
    box-sizing: border-box;
}

.chats-loading,
.select-chat,
.no-chats-yet {
    font-size: 1.5rem;
    margin-top: 4rem;
    text-align: center;
    user-select: none;
}
