.message {
    padding: 0.8rem;
    border-radius: 10px;
    background: #1a1122;
    margin: 1rem;
    max-width: 40vw;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}
.message-text {
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.message .sender-name {
    font-size: 1rem;
}

.message .message-date {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .message {
        max-width: 70vw;
    }
}