.text-input {
    font-size: 1rem;
    color: white;
    background: transparent;
    border: 2px solid white;
    outline: none;
    width: 20rem;
    height: 20px;
    padding: 14px 20px;
    border-radius: 10px;
    margin: 5px 0;
}