@import url("/static/theme.css");

.text-input {
    font-size: 1rem;
    color: var(--color-white);
    background: var(--color-transparent);
    border: 2px solid var(--color-white);
    outline: none;
    width: 20rem;
    height: 20px;
    padding: 14px 20px;
    border-radius: 10px;
    margin: 5px 0;
}

