@import url("/static/css/theme.css");

.message {
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 10px;
    background: var(--color-bg-elev-3);
    margin: 1rem;
    max-width: 40vw;
    width: fit-content;
    min-width: 10vw;
    overflow-wrap: break-word;
    word-break: break-word;
    user-select: none;
    transition: background 0.2s;
}

.message .message-reactions {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: min-content;
    min-width: 17vw;
    text-align: center;
}

pre {
    margin: 0;
}

.msg-ascii-art {
    font-size: 0.35rem;
}

.msg-code {
    font-size: 1rem;
    font-family: monospace;
}

.message .message-reactions:has(div) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.message .message-reaction {
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.2s;
    background: var(--color-bg-elev-11);
}

.message .message-reaction:hover {
    background: var(--color-bg-elev-15);
}

.message .message-text {
    white-space: pre-wrap;
}

.message.selected {
    background: var(--color-bg-elev-11);
    outline: 2px solid var(--color-bg-elev-15);
}

.message-text {
    padding: 0.5rem 0;
    padding-bottom: 0.1rem;
    font-size: 1.5rem;
}

.message .message-forwarded {
    display: none;
}

.message .message-favorite-indicator {
    display: none;
}

.message .message-author {
    font-size: 1rem;
    font-weight: bold;
}

.message .message-date {
    font-size: 1rem;
}

.message .message-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message .message-read {
    height: 1.3rem;
}

.message .message-read .read {
    display: none;
}

.message .message-read .unread {
    display: none;
}

@media (max-width: 768px) {
    .message {
        max-width: 70vw;
    }

    .message .message-reactions {
        min-width: 70vw;
    }
}
